<!DOCTYPE html>

<html lang="{{ CurrentLocale }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ .Title }}</title>
    {{ if .Icon }}
    <link rel="icon" href="{{.Icon}}" />
    {{ end }}

    {{ if .UseLocalSDK }}
    <link rel="stylesheet" href="/__amisgo__sdk/{{ CurrentTheme }}.css" />
    {{ else }}
    <link rel="stylesheet" href="{{ .AmisBaseURL }}@{{ .AmisVersion }}/sdk/{{ CurrentTheme }}.min.css" />
    {{ end }}
    
    {{ if .UseLocalSDK }} 
    <link rel="stylesheet" href="/__amisgo__sdk/helper.css" />
    <link rel="stylesheet" href="/__amisgo__sdk/iconfont.css" />
    {{ else }}
    <link rel="stylesheet" href="{{ .AmisBaseURL }}@{{ .AmisVersion }}/sdk/helper.min.css" />
    <link rel="stylesheet" href="{{ .AmisBaseURL }}@{{ .AmisVersion }}/sdk/iconfont.min.css" />
    {{ end }}
    
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      {{ .CustomCSS }}
    </style>
  </head>
  <body>
    <div id="root" class="app-wrapper"></div>
    {{ if .UseLocalSDK }}
    <script src="/__amisgo__sdk/sdk.js"></script>
    {{ else }}
    <script src="{{ .AmisBaseURL }}@{{ .AmisVersion }}/sdk/sdk.min.js"></script>
    {{ end }}
    {{ if .CustomJS }}
    <script type="text/javascript">
    {{ .CustomJS }}
    </script> 
    {{ end }}
    <script type="text/javascript">
      (function () {
        let amis = amisRequire('amis/embed');
        let amisScoped = amis.embed('#root', 
          {{ .AmisJson }},
          {
            context: {
              i18n: {{ CurrentI18n }},
            },
            locale: {{ CurrentLocale }}
          },
          {
            theme: {{ CurrentTheme }}
          }
        );
      })();
    </script>
  </body>
</html>